
# Gradle installation
/.gradle

# IntelliJ project files
/.idea
*.iml

# build output
build/

# JarHC cache (note: moved to ~/.jarhc)
/.jarhc

# files used for local testing
*.dat

# macOS files
.DS_Store

